<div class="card">
    <div class="container">
        <div><h1 class="text">CONTACT</h1><h1 class="text me">INFO</h1>
        </div>
        <div class="content">
        <div class="fancy_card">
          <img src="../../../assets/Images/phone.png" class="card_image">
          <div class="card_text">     
            <h2 class="title"> Phone</h2>
            <div class="summary">
              +1 (937)-510-0885
            </div>
          </div>
        </div>
        <div class="fancy_card">
          <img src="../../../assets/Images/address.png" class="card_image">
          <div class="card_text">     
            <h2 class="title"> Address</h2>
            <div class="summary">
              925 Wilmington Ave, Apt E<br>Dayton,OH. 45420.
            </div>
          </div>
        </div>
        <div class="fancy_card">
          <img src="../../../assets/Images/email.png" class="card_image">
          <div class="card_text">     
            <h2 class="title"> Email</h2>
            <div class="summary">
                {{email}}
            </div>
          </div>
        </div>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/charith-boddu/" target="_blank"><img class="logo" src="../../../assets/Images/linkedin-logo.png" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/boddu.charith" target="_blank"><img class="logo"  src="../../../assets/Images/facebook-logo.png" alt="Facebook"></a>
            <a href="https://github.com/charith-B" target="_blank"><img class="logo"  src="../../../assets/Images/github-logo.png" alt="GitHub"></a>
          </div>
          </div>
      </div>
      

</div>
