<!-- <div class="row">
    <div  style="border:2px;" class="col-md-6">
<img src="../../../assets/Images/apple-touch-icon.png" alt="">
    </div>
    <div class="col-md-6">

    </div>
</div> -->

<div class="card">
    <div class="left-half">
      <div class="greeting">
        <h1 class="hi" >
            <img class="HiImg" src="../../../assets/Images/hi.gif">Hello,</h1>
                  <h1 class="name">I'm <p class="highlight">C</p>harith <p class="highlight">B</p>oddu.</h1>
      </div>
      <!-- <h1 style="font-size: 50px; ">I'm Charith Boddu</h1> -->
    </div>
    <div class="right-half">
      <!-- Add your content for the right half here -->
      <img src="../../../assets/Images/pic_Charith.B.png" style="height: 35vh;" alt="Background Image">
    </div>
  </div>